.app-wrapper {
    display: grid;
    margin: 0 auto;
    width: 1200px;
    grid-template-areas: "h h" "n c";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    gap: 10px;
}

.header {
    grid-area: h;
    background-color: #12cf67;
}

.header img {
    width: 60px;
}

.nav {
    grid-area: n;
    background-color: #12cf67;
}

.content {
    grid-area: c;
}